@model SportsBarApp.Models.IndexViewModel



<h2 class="text-success text-center">@ViewBag.StatusMessage</h2>
<p id="goback" class="text-center">@Html.ActionLink("Go back to my profile", "MyProfile", "Profile")</p>