
@{
    ViewBag.Title = "SportsBar";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial("Navbar")
    <div class="navbar-collapse collapse">
        <ul>
            <li></li>
        </ul>
    </div>
</body>
</html>
