@{
    ViewBag.Title = "Sports Bar"; 
    ViewBag.HomeView = (ViewContext.View as RazorView).ViewPath.ToString();
}

<div class="container-fluid" id="wallpaper">
    <div class="text-center">
        <h1>Sports Bar</h1>
        <h3>Where to share sports passion creating your own community</h3>
    </div>
</div>