@model SportsBarApp.Models.ViewModels.ProfileViewModel
@{

    Layout = "~/Views/Shared/_LayoutMyProfile.cshtml";
}
<div id="activity" class="col-md-7">
    @if (Model.IsThisUser)
    {
        using (Html.BeginForm("UploadPost", "Profile", FormMethod.Post, new { @class = "form-write-post" }))
        {
            <section>
                @Html.TextArea("Message", "", 4, 20, new { @class = "form-control", @placeholder = "What's up ?" })

                @Html.Hidden("page", Model.CurrentView)
                <input type="submit" value="Upload Post" class="btn btn-info" />

            </section>
        }
     }
   

    @Html.Partial("Wall", Model.Posts, new ViewDataDictionary { {"Domain", Model.CurrentView } })
</div>

@section scripts{
    
<script src="~/Scripts/search.js"></script>    
}