@model SportsBarApp.Models.ViewModels.ProfileViewModel

@{
    
    Layout = "~/Views/Shared/_LayoutMyProfile.cshtml";
}

<div class="col-md-6 profile-links">
    @Html.ActionLink("VIEW", "Details", new { id = Model.CurrentProfile.ProfileId }, new {@class="not-clicked" })
    @Html.ActionLink("EDIT", "Edit", new { id = Model.CurrentProfile.ProfileId }, new { @class="not-clicked"})
    @Html.ActionLink("CHANGE PROFILE PHOTO", "ChangeProfilePhoto", new { id = Model.CurrentProfile.ProfileId }, new { @class="clicked"})
</div>

@using (Html.BeginForm("ChangeProfilePhoto", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div id="photo-upload" class="col-md-7">

       
        <div class="form-group">
            
            <div>
               
            <input accept="image/x-png, image/gif, image/jpeg" type="file" id="ProfilePic" name="upload" />
           
            </div>
        </div>

        <div class="form-group">
            <div>
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
        </div>
    </div>
}

@section scripts{
    
    <script src="~/Scripts/search.js"></script>
 }

