<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Sb", "Index", new { area = "" }, new { @class = "navbar-brand" })
            @Html.TextBox("Search", null, new { id = "search", @class = "form-control", placeholder = "Search", type = "search" })

        </div>

        <div class="navbar-collapse collapse">


            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Home", "Index")</li>
                <li>@Html.ActionLink("My Profile", "MyProfile")</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
            </ul>


        </div>
    </div>
</div>
